* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}
img {
  width: 100%;
  height: 100%;
}

section {
  margin: 100px 200px;
}
/* Header Style cSS */
#header {
  height: 100vh;
  background-color: #fff8f3;
  background-image: url(./images/developer.png), url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position: left top, bottom right;
}
.nav_bar {
  padding: 10px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_bar .logo {
  font-size: 40px;
  font-weight: 800;
}
.nav_bar .logo:hover {
  rotate: 10deg;
  scale: 1.2;
}
.nav_bar ul {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_bar ul li {
  list-style: none;
}
.nav_bar ul li a,
button a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.btn {
  padding: 8px 15px;
  background-color: cadetblue;
  border: none;
  border-radius: 5px;
}
.btn a {
  color: white;
}
.btn:hover {
  rotate: -10deg;
  scale: 1.2;
}
.banner_container {
  padding: 0 100px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex: 1; */
}
.header_text h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: cadetblue;
}
.header_text p {
  font-size: 16px;
  margin-bottom: 20px;
}
.header_text .btn {
  rotate: none;
}
.banner_container .header_img {
  width: 95%;
}
/* About Me Style CSS */
.about_me {
  height: 500px;
  padding: 100px 150px;
  background-color: #fff8f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  text-align: center;
  border: 1px solid red;
}
.section_title {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
}
.about_me > p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}
.about_info {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info p:first-child {
  font-size: 20px;
  font-weight: bold;
}
.what_i_do > p {
  width: 700px;
  margin: 0 auto 20px;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  /* background-color: beige; */
}
.card_info {
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 25px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}
.card_info img {
  width: 50px;
  height: 50px;
}
/* Resume container */
.resume_container {
  display: flex;
  align-items: center;
  column-gap: 15px;
  color: #474747;
}
.resume_item h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.resume_item .item {
  margin-bottom: 30px;
  border-bottom: 3px solid rgb(112, 112, 112, 0.5);
  padding-bottom: 10px;
}
.resume_item h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.resume_item h5 {
  font-size: 16px;
  margin-bottom: 25px;
}
.resume > .btn {
  width: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer {
  height: 400px;
  background-color: #fff8f3;
}
.footer_container {
  padding: 50px 200px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  column-gap: 50px;
}
.footer_item {
  width: 50%;
}
.footer_item form {
  display: flex;
  flex-direction: column;
}
.footer_item input,
textarea {
  padding: 15px 8px;
  margin: 10px 0;
}
.footer_item input[type="submit"] {
  width: 150px;
  background-color: cadetblue;
  border: none;
  font-size: 18px;
  font-weight: 800;
  color: white;
  border-radius: 5px;
}

.hide {
  display: none;
}
@media screen and (max-width: 576px) {
  .nav_bar {
    padding: 10px 20px;
    background-color: #45e3ff;
  }
  .nav_bar ul {
    align-items: center;
  }
  .banner_container {
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  .header_text {
    width: 80%;
    text-align: center;
  }
  .header_img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header_img img {
    width: 300px;
  }
  #header {
    height: 700px;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  section {
    margin: 50px 5px;
  }
  .about_me {
    height: 300px;
    padding: 10px;
    display: block;
  }
  .resume_container {
    flex-direction: column;
    padding: 0 20px;
  }
  .footer_container {
    flex-direction: column;
    padding: 10px 20px;
  }
  .footer_item {
    width: 100%;
  }
  .footer_item textarea {
    height: 200px;
  }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
  #header {
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .nav_bar {
    padding: 20px 10px;
  }
  .banner_container {
    padding: 0 20px;
  }
  .header_text {
    width: 50%;
  }
  .header_text h1 {
    font-size: 30px;
  }
  .header_img {
    width: 50%;
  }
  .header_img img {
    width: 80%;
  }
}
